.services {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}

.service {
    width: 30vw;
    margin: 0.5vw;
    padding: 3vw;
    display: flex;
    font-size: 2.5vh;
    flex-direction: column;
}

.service:hover {
    box-shadow: 0 0 10px #9e78ff;
}

.service:hover .card-body .card-title {
    transform: scale(1.1, 1.1);
}

.service:hover .card-body .card-img-top {
    transform: scale(1.1, 1.1);
}

.service .card-body .card-title {
    font-size: 3vh;
    text-align: center;
    margin: 3vh 0;
}

.card-img-top {
    margin: 0 auto;
    max-width: 100%;
}

.btn-add-card {
    margin:0 auto;
    border-radius: 50px;
    background-color: #5dd27a;
    padding: 8px 30px;
    color: white;
}

.btn-edit-card {
    border-radius: 50px;
    background-color: #f7bd53;
    padding: 8px 30px;
    color: white;
}

.btn-add-card:hover {
    background-color: #37a352;
    color: white;
}

.btn-edit-card:hover {
    background-color: #ce9b3d;
    color: white;
}

.btn-remove-card {
    color: white;
    background-color: #ff8763;
    margin: 0 auto;
    border-radius: 40px;
    width: 50%;
}

.btn-remove-card:hover {
    color:white;
    background-color: #e26038;
}

.category-name {
    margin-top: 7px;
    font-size: 3.75vh;
    text-align: center;
}
