@using System.Collections.Generic


@{
    ViewData["Title"] = "Home Page";
}
<div class="services">
    @foreach (var service in (List<Service>)@ViewData["Services"])
    {
    <div class="card service">
        <img class="card-img-top" src="@service.ImageUrl"/>
        <div class="card-body">
            <h4 class="card-title">@service.Name</h4>
            <p class="card-text">@service.Description</p>
        </div>
    </div>    
    }
</div>


