@using System.Collections.Generic


@{
    ViewData["Title"] = "Home Page";
}
<div class="services">
    @foreach (var service in (List<Service>)@ViewData["Services"])
    {
        <div class="service">
            <div class="service-name">@service.Name</div> 
            <div class="service-info">
                <img src="@service.ImageUrl" height="200" width="200" />
                <div>@service.Description</div>
            </div>
        </div>    
    }
</div>


